@charset "utf-8";

.gstyle{
    border: 150px solid #545454;
    width: 150px;
    float: left;
    margin: 5px;
    border-radius: 8px;
    
  transition: all 2s;
    
    
    
    
}
.gstyle img{
    width: 150;
    height: 150px;
    float: left;
    border-radius: 8px 8px 0px 0px;
    transition: all 2s;
    
}
.gstyle img:hover{
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    
    
    
}
.gstyle:hover{
    border: 1px solid #AA0830;
    border-radius: 25px;
    
    
    
    
}
.pstyle{
    text-align: center;
    
    
    
}

img {
    
    
}
